body{
    background-color: #0A0A0A;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#brand-name a{
    font-size: 25px;
    color: white;
}
.col{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}
.col span{
    margin-top: 20px;
    font-family: monospace;
    color: white;
    font-size: 30px;
}
.col p{
    font-size: 20px;
    color: white;
    font-family: monospace;
}
#abhijeet{
    width: 300px;
    height: 391px;
}
#aaryaz{
    width: 300px;
    height: 391px;
}
#tanish{
    width: 300px;
    height: 391px;
}